__pycache__
*.pyc

models/*
data/datasets/*
!data/datasets/twitter_dep/
!data/datasets/acl_dep_sad/
!data/datasets/dreaddit/
!data/datasets/mixed_depression/
# private dataset
# !data/datasets/deptweet/
